# SPDX-FileCopyrightText: openmod-tracker contributors
#
# SPDX-License-Identifier: MIT

[workspace]
authors = ["Bryn Pickering <bryn.pickering@openenergytransition.org>", "Markus Groissböck <markus.groissbock@openenergytransition.org>", "Jacek Bendig <jacek.bendig@openenergytransition.org>"]
channels = ["conda-forge"]
name = "openmod-tracker"
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64", "linux-aarch64"]
version = "2025-11-06"

[tasks.get-tools]
cmd = "python $PIXI_PROJECT_ROOT/inventory/get_tools.py inventory/output/tools.csv"
inputs = ["inventory/get_tools.py", "inventory/pre_compiled_esm_list.csv", "inventory/categories.csv"]
outputs = ["inventory/output/tools.csv"]

[tasks.filter-tools]
cmd = "python $PIXI_PROJECT_ROOT/inventory/filter_tools.py inventory/output/tools.csv inventory/output/filtered.csv"
inputs = ["inventory/output/tools.csv", "inventory/exclusions.csv", "inventory/filter_tools.py"]
outputs = ["inventory/output/filtered.csv"]
depends-on = ["get-tools"]

[tasks.get-stats]
cmd = "python $PIXI_PROJECT_ROOT/inventory/get_stats.py inventory/output/filtered.csv inventory/output/stats.csv"
inputs = ["inventory/output/filtered.csv", "inventory/get_stats.py"]
outputs = ["inventory/output/stats.csv"]
depends-on = ["filter-tools"]

[tasks.get-docs]
cmd = "python $PIXI_PROJECT_ROOT/inventory/get_docs.py inventory/output/stats.csv inventory/output/docs.csv"
inputs = ["inventory/output/stats.csv", "inventory/get_docs.py"]
outputs = ["inventory/output/docs.csv"]
depends-on = ["get-stats"]

[tasks.get-repo-users]
cmd = "python $PIXI_PROJECT_ROOT/user_analysis/get_repo_interactions.py --stats-file inventory/output/stats.csv --out-path user_analysis/output/repo_interactions.csv"
inputs = ["inventory/output/stats.csv", "user_analysis/get_repo_interactions.py"]
outputs = ["user_analysis/output/repo_interactions.csv"]
depends-on = ["get-stats"]

[tasks.get-user-details]
cmd = "python $PIXI_PROJECT_ROOT/user_analysis/get_user_details.py --repo-interactions user_analysis/output/repo_interactions.csv --outdir user_analysis/output"
inputs = ["user_analysis/output/repo_interactions.csv"]
outputs = ["user_analysis/output/user_details.csv", "user_analysis/output/organizations.csv"]
depends-on = ["get-repo-users"]

[tasks.classify-users]
cmd = "python $PIXI_PROJECT_ROOT/user_analysis/classify_users.py --user-details user_analysis/output/user_details.csv --out-path user_analysis/output/user_classifications.csv"
inputs = ["user_analysis/output/user_details.csv", "user_analysis/output/organizations.csv"]
outputs = ["user_analysis/output/user_classifications.csv"]
depends-on = ["get-user-details"]

[dependencies]
pandas = ">=2.2.3"
requests = ">=2.32.3"
ipython = ">=9.2.0"
pandas-stubs = ">=2.2.3.250308"
click = ">=8.2.1"
yaml = ">=0.2.5"
pyyaml = ">=6.0.2"
tqdm = ">=4.67.1"
ipdb = ">=0.13.13"
pyarrow = ">=20.0.0"
tabulate = ">=0.9.0"
bs4 = ">=4.13.4"
pre-commit = ">=4.2.0"
gitpython = ">=3.1.44"
pygithub = ">=2.6.1"
python-dotenv = ">=1.1.1"
unidecode = ">=1.3.8"
reuse = ">=5.1.1"
geopy = ">=2.4.1"
pycountry = ">=24.6.1"


[feature.test.target.linux-aarch64.dependencies]
memray = ">=1.19.1"
pytest-memray = ">=1.8.0"

[feature.test.target.linux-64.dependencies]
memray = ">=1.19.1"
pytest-memray = ">=1.8.0"

[feature.test.target.osx-arm64.dependencies]
memray = ">=1.19.1"
pytest-memray = ">=1.8.0"

[feature.test.target.osx-64.dependencies]
memray = ">=1.19.1"
pytest-memray = ">=1.8.0"

[feature.app.dependencies]
streamlit = "<1.50.0"
streamlit-keyup = ">=0.3.0"
plotly = ">=6.1.2"
markdown = ">=3.8.2"

[feature.app.tasks]
serve = "streamlit run $PIXI_PROJECT_ROOT/website/⚡️_Tool_Repository_Metrics.py"

[feature.test.dependencies]
pytest = ">=8.4.1"
pytest-xdist = ">=3.8.0"

[feature.test.tasks]
test = "pytest -nauto"

[environments]
app = ["app"]
test = ["test", "app"]
